<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
 
<div class="container">
  <h2>Details added by Admin:</h2>
        
  <table class="table table-bordered">
   <tr>
    <td>Enter Airline_id</td>
    <td><input type = "text" [(ngModel)]= "aid" name ="aid"></td>
   </tr>
   <tr>
    <td>Enter Flight_id</td>
    <td><input type = "text" [(ngModel)]= "fid" name = "fid"></td>
   </tr>
   <tr>
    <td>Enter From_location</td>
    <td><input type = "text" [(ngModel)]= "fl" name = "fl"></td>
   </tr>
   <tr>
    <td>Enter to_location</td>
    <td><input type = "text" [(ngModel)]= "tl" name ="tl"></td>
   </tr>
  </table>
 
</div>
<button type = "submit" (click)="insertData1()">Insert Data</button>
</body>
</html>